body{
    background-image: url(image/musterd.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: Poppins;
    
}
.sec-0{
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-decoration:underline;
}
#sec-00{
    padding-left: 150px;
}


.sec-01{
    display: flex;
    gap: 25%;

}
.sec-001{
    font-weight:900;
    font-style:italic;
    
}
.logo{
    display: flex;
    padding: 0px 0px 0px 15px;
}
.sec-1{
    list-style: none;
    display: flex;
padding-top: 10px;
    gap: 17%;
    font-size: 20px;
    font-weight: 600;
}
.sec-1>li>a{
    text-decoration: none;
    color: black;
}

.sec-3{
    text-align:center;
    padding-top: 32%;
    color:black;
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
